/* トップレベルのリストアイテム */
.todo-item {
  background-color: #f9f9f9;
  width: 500px;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s; /*0.2かけて子要素のtransformを移動*/
}

.todo-item:hover {
  transform: translateY(-5px); /*y(縦方向に−5px(-は上)移動する)*/
}

/* 完了したタスク */
.todo-item.completed {
  border-left: 5px solid green;
}

/* 未完了のタスク */
.todo-item.pending {
  border-left: 5px solid orange;
}

.todo-title-field {
  display: flex;
}
/* タイトル */
.todo-title {
  font-size: 1.5rem; /* remはブラウザのデフォルトのfont-size(chrome16px) */
  font-weight: bold;
  color: #333;
  margin: 0px;
}

/* 説明 */
.todo-description {
  font-size: 1rem;
  color: #666;
  margin: 0;
}

/* 完了/未完了の状態 */
.todo-status {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
}

/* 完了アイコン */
.completed-icon {
  color: green;
  margin-left: 20px;
}

.delete-button {
  margin-left: auto;
  background-color: orange;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
}

.delete-button:hover {
  background-color: #c0392b;
  transform: scale(1.05);
}

/* 未完了アイコン */
.pending-icon {
  color: orange;
  margin-left: 20px;
}

/* 時間の表示 */
.todo-time {
  margin: 0;
  font-size: 0.5rem;
  text-align: right;
}
