.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: #FFFFFF;
  padding: 10px;
  border-radius: 3px;
  color: #000000;
}

.topBotton {
  display: flex;
  margin-left: auto;
}
.okButton {
  width: 100%;
  padding: 12px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.okButton:hover {
  background-color: #2980b9;
}

.okButton:active {
  background-color: #1f6d98;
}
